body {
    background: whitesmoke !important;
}
.navbar-nav a {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    border-radius: 2px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.navbar-expand .navbar-nav a {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    margin-right: 5px;
}
.card-img, .card-img-top {
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}
.card {
    margin-bottom: 20px;
    border-radius: 25px !important;
}
.card:hover {
    box-shadow: 1px 0px 9px 0 grey;
    cursor: pointer;
}
.card-text {
    font-size: 12px;
    height: 60px;
}
.card-title {
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}
.btn-custom {
    background-color: #9c27b0 !important;
    border: none !important;
    border-radius: 25px !important;
}
#search-bar-0-label {
    display: none;
}